.footer-container {
  background-color: #050401;
  color: #fff;
  font-size: 1.5rem;
  padding: 1.2rem 1rem;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.footer-container a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transform: 0.2s ease-out;
}

.footer-container a:hover {
  transform: 0.2s ease-out;
  color: #D45DD0;
}
