.products-container {
  font-family: 'Comfortaa', cursive;
  width: 100vw;
  min-height: 100vh;
  padding: 5rem calc((100vw - 1300px) / 2);
  background: #272727;
  color: #fff;
}

.products-heading {
  font-size: clamp(2rem, 2.5vw, 3rem);
  text-align: center;
  margin-bottom: 5rem;
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.product-card {
  margin: 0 2rem;
  line-height: 2;
  width: 300px;
}

.product-img {
  height: 300px;
  min-width: 300px;
  max-width: 100%;
  box-shadow: 8px 8px #F0739F;
}

.product-title {
  font-weight: 400;
  font-size: 1.5rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.product-desc {
  margin-bottom: 1rem;;
}

.product-price {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.product-button {
  font-size: 1rem;
  padding: 1rem 4rem;
  border: none;
  background-color: #F78F6A;
  color: #fff;
  transition: 0.2 ease-out;
}

.product-button:hover {
  background-color: #C2655D;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #000;
}
