.hero {
  font-family: 'Play', sans-serif;
  height: 100vh;
  background-position: center;
  background-size: contain;
}

.hero-content {
  height: calc(100vh -80px);
  max-height: 100%;
  width: 100vw;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.hero-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  max-height: 100%;
  padding: 0 2rem;
  width: 650px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
}

.hero-title {
  font-size: clamp(2.5rem, 10vw, 5rem);
  margin-bottom: 1rem;
  box-shadow: 3px 5px #F78F6A;
  letter-spacing: 3px;
}

.hero-p {
  font-size: clamp(2rem, 2.5vw, 3rem);
  margin-bottom: 2rem;
}

.hero-btn {
  font-size: 1.4rem;
  padding: 1rem 4rem;
  border: none;
  background: #F0739F;
  color: #fff;
  transition: 0.2s ease-out;
}

.hero-btn:hover {
  background: #C2655D;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #000;
}

@media screen and (max-width: 650px) {
  .hero-items {
    width: 100%
  }
}
